<a href="https://colab.research.google.com/github/Gowri0504/gowri2005/blob/main/odd_or_even.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
a=int(input())
if(a%2==0):
  print("It is Even Number")
else:
  print("It is Odd NUmber")

4
It is Even Number

In [9]:
print("Enter a Year")
year=int(input())
if(year%4==0):
  print("It is Leap Year")
else:
  print("It is Not a Leap Year")

Enter a Year
2008
It is Leap Year

In [11]:
num=int(input())
factorial=1
if (num<0):
  print("Factorial Does not Exist For Negative Numbers")
elif( num==0):
     print("The Factorial of 0 is 1")
else:
  for i in range(1,num+1):
    factorial=factorial*i
    print("The Factorial of ",num,"is",factorial)

5
The Factorial of  5 is 1
The Factorial of  5 is 2
The Factorial of  5 is 6
The Factorial of  5 is 24
The Factorial of  5 is 120

In [16]:
num=int(input())
if(num>1):
  for i in range(2,(num//2)+1):
    if(num%1)==0:
      print(num,"is Not a Prime Number")
      break
    else:
      print(num,"is a Prime Number")
else:
  print(num,"is Not a Prime NUmber")

24
24 is Not a Prime Number

In [23]:
n = int(input("enter a number: "))
i = 1
sum = 0
while (i <= n):
    sum = sum + i
    i = i + 1
print("The sum is: ", sum)

enter a number: 776
The sum is:  301476

In [27]:
n = int(input("Enter the number of terms: "))
a, b = 0, 1
print("Fibonacci series:")
for _ in range(n):
    print(a, end=' ')
    a, b = b, a + b

Enter the number of terms: 10
Fibonacci series:
0 1 1 2 3 5 8 13 21 34

In [28]:
def is_palindrome(s):
   return s == s[::-1]
string = input("Enter a string: ")
if is_palindrome(string):
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

Enter a string: abba
The string is a palindrome.

In [31]:
rows = int(input("Enter the number of rows: "))
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

Enter the number of rows: 7
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7